.game-box {
  border: 1px solid $color-game-box-border;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;

  footer {
    margin-top: 200px;
    padding: 5px;
  }
}

.as-sortable-item,
.as-sortable-placeholder {
  border-radius: 10px;
  margin: 1px 2px 5px 1px;
  min-height: 20px;
}

.as-sortable-item {
  background-color: $color-sortable-item-bg;
  border: solid 1px $color-game-box-border;
  padding: 10px;
}

.as-sortable-placeholder {
  background-color: $color-sortable-placeholder-bg;
  border: 1px dashed $color-game-box-border;
  box-sizing: border-box;
}

.as-sortable-drag {
  opacity: .8;
}
