// Nav bar
$color-nav-border: #ccc;

// Drag and drop image upload
$color-drop-border: #868686;
$color-drag-over-bg: #d1d1d1;

// Avatar overlay
$color-avatar-overlay-bg: rgba(78, 144, 254, .7);
$color-avatar-overlay-text: #fff;

// Game
$color-game-box-border: #a9a9a9;
$color-sortable-item-bg: #fff;
$color-sortable-placeholder-bg: #dbdbdb;

// Timeline
$color-timeline-bg: #eee;
$color-timeline-panel-after-border: #fff;
$color-timeline-panel-before-border: #ccc;
$color-timeline-panel-border: #d4d4d4;
$color-timeline-badge-text: #fff;
$color-timeline-badge-bg: #999;
$color-timeline-badge-primary-bg: #2e6da4;
$color-timeline-badge-success-bg: #3f903f;
$color-timeline-badge-warning-bg: #f0ad4e;
$color-timeline-badge-danger-bg: #d9534f;
$color-timeline-badge-info-bg: #5bc0de;

