<div class="row">
  <div class="col-sm-5">
    <div class="game-badge pull-left">
      <img data-ng-src="{{ game.image.uri }}" data-ng-show="game.image.uri"
           alt="{{ 'Game Badge for' | translate }} {{ game.name }}"/>
      <i class="avatar-lg glyphicon glyphicon-camera pull-left" data-ng-hide="game.image.uri"></i>
    </div>
    <h1>{{ game.name }}</h1>
    <p>{{ game.description }}</p>
  </div>
  <div class="col-sm-6">
    <h4>{{ game.gameStart | date:'medium' }} - {{ game.gameEnd | date:'medium' }}</h4>

    <dl class="dl-horizontal">
      <dt data-translate>Ordnance</dt>
      <dd>{{ game.ordnance }}</dd>

      <dt data-translate>Game Type</dt>
      <dd>{{ game.gameType | gameType }}</dd>
    </dl>
  </div>
  <button class="btn btn-primary" data-ng-click="go('game.edit')" data-translate>Edit Game</button>
</div>