<section>
  <h2 data-translate>Rules for {{ game.name }}</h2>
  <div data-ng-show="game.rules.GAME_SPECIFIC">
    <h3 data-translate>Game Specific Rules</h3>
    <ul>
      <li data-ng-repeat="rule in game.rules.GAME_SPECIFIC">
        {{ rule }}
      </li>
    </ul>
  </div>

  <div>
    <h3 data-translate>Rules for all Games</h3>
    <ul>
      <li data-ng-repeat="rule in game.rules.ALL_GAMES">
        {{ rule }}
      </li>
    </ul>
  </div>

  <div data-map data-polygons="gameZones">
  </div>
</section>