<div class="jumbotron" data-ng-show="game.isDraft()">
  <h2 data-translate>A Work in Progress</h2>

  <p data-i18n>
    This game is in draft mode and will not be displayed in the list of games or able to be joined until it is published.
  </p>

  <p data-ng-show="confirmPublish" class="alert alert-warning" data-i18n>
    Are you sure?  Once you click the button below your game will be displayed to the public and able to be joined.  There is no going back.
  </p>
  <button class="btn btn-primary btn-lg" data-ng-hide="confirmPublish"
          data-ng-click="confirmPublish = true"
          data-i18n>Publish Game</button>
  <button class="btn btn-primary btn-lg" data-ng-show="confirmPublish"
          data-ng-click="publishGame()"
          data-i18n>Do it.</button>
</div>

<header data-ui-view="header"></header>

<div class="row">
  <div class="col-md-12">
    <nav data-ui-view="menu"></nav>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div data-ui-view="content"></div>
  </div>
</div>
