<div class="row">
  <div class="col-sm-5">
    <div class="game-badge pull-left">
      <img data-ng-src="{{ game.image.uri }}" data-ng-show="game.image.uri"
           alt="{{ 'Game Badge for' | translate }} {{ game.name }}"/>
      <i class="avatar-lg fa fa-puzzle-piece pull-left" data-ng-hide="game.image.uri"></i>
    </div>
    <h1>{{ game.name }}</h1>
    <p>{{ game.description }}</p>
  </div>
  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <dt data-translate>Duration</dt>
      <dd>
        <p data-ng-show="game.gameStart && game.gameEnd">{{ game.gameStart | date:'medium' }} - {{ game.gameEnd | date:'medium' }}</p>
        <p class="text-danger" data-ng-hide="game.gameStart && game.gameEnd" data-translate>Duration has not been selected</p>
      </dd>

      <dt data-translate>Ordnance</dt>
      <dd>
        <p data-ng-show="game.ordnance">{{ game.ordnance }}</p>
        <p class="text-danger" data-ng-hide="game.ordnance">Ordnance hat not been selected</p>
      </dd>

      <dt data-translate>Game Type</dt>
      <dd>{{ game.gameType | gameType }}</dd>
    </dl>
  </div>
  <button class="btn btn-primary" data-ng-click="go('game.edit')" data-translate>Edit Game</button>
</div>