<ul role="menu" class="nav nav-pills">
  <li data-ui-sref-active="active">
    <a data-ui-sref="game" data-i18n>Updates</a>
  </li>
  <li data-ui-sref-active="active" data-ng-show="game.isRegistration() && game.isTeamGame()">
    <a data-ui-sref="game.teams" data-i18n>Teams</a>
  </li>
  <li data-ui-sref-active="active">
    <a data-ui-sref="game.info" data-i18n>About</a>
  </li>
  <li data-ui-sref-active="active" data-ng-show="gameZones.length > 0">
    <a data-ui-sref="game.map" data-i18n>Map</a>
  </li>
  <li data-ui-sref-active="active" data-ng-hide="game.isRegistration()">
    <a data-ui-sref="game.statistics" data-i18n>Statistics</a>
  </li>
</ul>
