<ul role="menu" class="nav nav-tabs" data-collapsed-in-header data-header-image="game.image">
  <li data-ui-sref-active="active">
    <a data-ui-sref="game" data-i18n>Game Feed</a>
  </li>
  <li data-ui-sref-active="active">
    <a data-ui-sref="game.statistics" data-i18n>Statistics</a>
  </li>
  <li data-ui-sref-active="active">
    <a data-ui-sref="game.rules" data-i18n>Rules</a>
  </li>
  <li data-ng-if="game.isRegistration()" data-ng-class="{'active': stateIncludes('game.enroll')}">
    <a data-ui-sref="game.enroll" data-i18n>Join Game</a>
  </li>
</ul>
