<div data-form-feedback="notifications"></div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="jumbotron">
      <h1 data-translate>Be the Master of your own Game</h1>
      <p data-translate>Create your own game and invite others to join in on the fun.  You call all the shots.  It's FREE.</p>
      <form name="createGameForm" role="form" novalidate>
        <div data-form-feedback="notifications"></div>

        <div class="form-group">
          <label for="gameName" data-translate>Enter the name of your Game</label>
          <input id="gameName" name="gameName" type="text" class="form-control" placeholder="{{ 'Game Name' | translate }}"
                 data-ng-model="game.name" required autofocus/>
          <p class="help-block" data-translate>Stumped?  Don't worry you can change this later.</p>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg" data-ng-click="createGame()"
                  data-ng-disabled="!createGameForm.$valid" data-translate>Let's do this thing</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-5">
    <h2 data-translate>Your Responsibilities as Game Master</h2>
    <ul class="list-unstyled">
      <li>
        <h3 data-translate>Recruit Players to Join your Game</h3>
        <p data-translate>Call your mother, text your friends, email your co-workers; a happy game is one with lots of players.</p>
      </li>
      <li>
        <h3 data-translate>Arbitrate In-Game Disputes</h3>
        <p data-translate>Disputes may arise if two players disagree on the outcome of game interaction.  The Game Master interface includes a dispute management system to facilitate expedient dispute arbitration.</p>
      </li>
      <li>
        <h3 data-translate>Engage your Audience</h3>
        <p data-translate>Your players will play to the best of their ability if they are engaged.  Think of creative ways to get their attention.  You could offer special prizes for meeting certain criteria, for example.</p>
      </li>
    </ul>
  </div>
</div>