<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="jumbotron">
      <h1 data-i18n>Create a Game</h1>
      <p data-i18n>
        Create your own game and invite others to join in on the fun.  You get to set up the game and play as well.  It's FREE.
      </p>
      <form name="createGameForm" role="form" novalidate
            data-form-feedback="createGameForm" data-form-notifications="notifications"
            data-ng-submit="createGame()">

        <div class="form-group">
          <label for="gameName" data-i18n>Enter the name of your Game</label>
          <input id="gameName" name="name" type="text" class="form-control" data-ng-model="game.name" required autofocus/>
          <p class="help-block" data-i18n>Stumped?  Don't worry you can change this later.</p>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="!createGameForm.$valid"
                  data-i18n>Let's do this thing</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-5">
    <h2>Marketing Text Here</h2>
    <p>More marketing, maybe something from the CMS</p>
  </div>
</div>
