<div class="modal-header">
    <h4>Sign in</h4>
</div>

<div class="modal-body">
    <div class="alert alert-warning" data-ng-show="authReason">
        {{authReason}}
    </div>
    <div class="alert alert-error" data-ng-show="authError">
        {{authError}}
    </div>

    <div data-ng-hide="showRegister">
        <div class="alert alert-info">Enter your login details.</div>
    </div>

    <div data-ng-show="showRegister">
        <div class="alert alert-info">Create an account</div>
    </div>

    <form name="loginForm" data-ng-submit="login()" novalidate class="sign-in-form" data-ng-hide="showRegister">
        <label for="loginEmail">E-mail</label>
        <input id="loginEmail" name="login" type="email" data-ng-model="user.email" placeholder="Email" required autofocus>
        <span class="input-feedback">Invalid Email</span>
        <label for="loginPassword">Password</label>
        <input id="loginPassword" name="pass" type="password" data-ng-model="user.password" placeholder="Password" required>
        <input type="submit" data-ng-disabled='loginForm.$invalid' value="Login">
    </form>

    <form name="registerForm" data-ng-submit="register()" novalidate class="sign-in-form" data-ng-show="showRegister">
        <label for="registerEmail">E-mail</label>
        <input id="registerEmail" name="login" type="email" data-ng-model="user.email" placeholder="Email" required autofocus>
        <span class="input-feedback">Invalid Email</span>
        <label for="registerPassword">Password</label>
        <input id="registerPassword" class="immediate-help" name="pass" type="password" data-ng-model="user.password" data-password-validator placeholder="Password" required/>
        <span class="input-feedback">
            <p>A good password</p>
            <ul>
                <li data-ng-class="pwdHasLetter">Contains a letter</li>
                <li data-ng-class="pwdHasNumber">Contains a number</li>
                <li data-ng-class="pwdHasSpecialChar">Contains a non-alphanumeric character</li>
                <li data-ng-class="pwdValidLength">Is at least 8 characters long</li>
            </ul>
        </span>
        <label for="registerTerms">I agree to the <a href="/terms">terms and conditions</a>.</label>
        <input id="registerTerms" type="checkbox" data-ng-required="value.length==0">
        <input type="submit" data-ng-disabled='registerForm.$invalid' value="Register">
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-inverse cancel" data-ng-click="cancelSignIn()">Cancel</button>
    <button class="btn btn-primary pull-right" data-ng-show="showRegister" data-ng-click="showRegister=false">I have an account</button>
    <button class="btn btn-primary pull-right" data-ng-hide="showRegister" data-ng-click="showRegister=true">Create new account</button>
</div>
