@media (max-width: 767px) {
  .timeline:before {
    left: 40px;

    .timeline-panel {
      float: right;
      width: 100%;

      &:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }

      &:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }

    .timeline-badge {
      left: 15px;
      margin-left: 0;
      top: 16px;
    }
  }
}
