<header class="page-header">
  <h1>{{ account.username || account.name || account.email}}</h1>
</header>

<section class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li data-ng-class="{active: isState('account') || isState('account.edit')}">
        <a data-ui-sref="account" data-i18n>Profile</a>
      </li>
      <li data-ng-class="{active: isState('account.images')}">
        <a data-ui-sref="account.images" data-i18n>Images</a>
      </li>
      <li data-ng-class="{active: isState('account.statistics')}">
        <a data-ui-sref="account.statistics" data-i18n>Statistics</a>
      </li>
      <li data-ng-class="{active: isState('account.security')}">
        <a data-ui-sref="account.security" data-i18n>Security</a>
      </li>
      <li data-ng-class="{active: isState('account.preferences')}">
        <a data-ui-sref="account.preferences" data-i18n>Preferences</a>
      </li>
    </ul>
  </div>
  <div class="col-md-9 col-md-offset-1">
    <section data-ui-view="right"></section>
  </div>
</section>
