<header class="page-header">
  <h1>{{ account | accountDisplayName }}</h1>
</header>

<div class="alert alert-warning" data-ng-hide="account.activated">
  <p data-i18n>
    Activate your account in order to create and join games.  Check your email.
  </p>
  <p>
    <a data-ng-click="resendActivation()" data-i18n>Resend activation email.</a>
  </p>
</div>

<div class="row">
  <nav class="col-md-12">
    <ul role="menu" class="nav nav-pills">
      <li data-ui-sref-active="active">
        <a data-ui-sref="account" data-i18n>Profile</a>
      </li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="account.edit-security" data-i18n>Security</a>
      </li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="account.players" data-i18n>Players</a>
      </li>
    </ul>
  </nav>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="ui-view"></div>
  </div>
</div>
