<h2 data-i18n>Profile</h2>

<div class="col-md-7">
  <div class="alert alert-warning" data-ng-hide="account.activated">
    <p data-i18n>
      Activate your account in order to create and join games.  Check your email.
    </p>
    <p>
      <a data-ng-click="resendActivation()" data-i18n>Resend activation email.</a>
    </p>
  </div>

  <p class="lead" data-i18n>Your information is safe with us.</p>
  <p>The following is only displayed to other users if a game you are enrolled in requires this information.  For example, a game of Assassins may require name, email, and home address but not work address.</p>
  <div data-ui-view="profile"></div>
</div>

<div class="col-md-3">
  <div class="thumbnail">
    <img data-ng-src="{{ account.images.AVATAR.uri }}" data-ng-show="account.images.AVATAR.uri" alt="Avatar Image for {{ account.username }}" data-i18n-attrs="alt"/>
    <i class="avatar-lg fa fa-user center-block" data-ng-hide="account.images.AVATAR.uri"></i>
    <div class="caption">
      <h3 data-i18n>Avatar</h3>
      <p data-i18n>Your Avatar appears next to your Game Feed posts and other items throughout the site.</p>
      <button class="btn btn-default center-block" data-i18n>Edit Image</button>
    </div>
  </div>
</div>
