<dl class="dl-horizontal">
  <dt data-i18n>Username</dt>
  <dd>{{ account.username }}</dd>

  <dt data-i18n>Real Name</dt>
  <dd>{{ account.name }}</dd>

  <dt data-i18n>Email</dt>
  <dd>{{ account.email }}</dd>

  <dt data-i18n>Cell Phone Number</dt>
  <dd>{{ account.cellPhone }}</dd>

  <dt data-i18n>Date of Birth</dt>
  <dd>{{ account.dateOfBirth | date:'longDate' }}</dd>

  <dt data-ng-show="account.addresses.HOME" data-i18n>Home Address</dt>
  <dd data-ng-show="account.addresses.HOME">
    <address>
      {{ account.addresses.HOME.streetAddress }}<br/>
      {{ account.addresses.HOME.streetContinued }}<br data-ng-show="account.addresses.HOME.streetContinued"/>
      {{ account.addresses.HOME.city }}, {{ account.addresses.HOME.state }} {{ account.addresses.HOME.postalCode }}<br/>
    </address>
  </dd>

  <dt data-ng-show="account.addresses.WORK" data-i18n>Work Address</dt>
  <dd data-ng-show="account.addresses.WORK">
    <address>
      {{ account.addresses.WORK.streetAddress }}<br/>
      {{ account.addresses.WORK.streetContinued }}<br data-ng-show="account.addresses.WORK.streetContinued"/>
      {{ account.addresses.WORK.city }}, {{ account.addresses.WORK.state }} {{ account.addresses.WORK.postalCode }}<br/>
    </address>
  </dd>

  <dt data-ng-show="account.addresses.SCHOOL" data-i18n>School Address</dt>
  <dd data-ng-show="account.addresses.SCHOOL">
    <address>
      {{ account.addresses.SCHOOL.streetAddress }}<br/>
      {{ account.addresses.SCHOOL.streetContinued }}<br data-ng-show="account.addresses.SCHOOL.streetContinued"/>
      {{ account.addresses.SCHOOL.city }}, {{ account.addresses.SCHOOL.state }} {{ account.addresses.SCHOOL.postalCode }}<br/>
    </address>
  </dd>
</dl>
<button class="btn btn-primary" data-ng-click="go('account.edit')" data-i18n>Edit</button>
