<section>
  <h2 data-translate>Edit Profile</h2>

  <div class="col-md-7">
    <form name="accountForm" role="form" class="form-horizontal">
      <div data-form-feedback="notifications"></div>

      <div class="form-group">
        <label for="username" class="col-sm-3 control-label" data-translate>Username</label>
        <div class="col-sm-7">
          <input id="username" type="text" class="form-control" data-ng-model="account.username"/>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="col-sm-3 control-label" data-translate>Real Name</label>
        <div class="col-sm-7">
          <input id="name" type="text" class="form-control" data-ng-model="account.name"/>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-sm-3 control-label" data-translate>Email</label>
        <div class="col-sm-7">
          <input id="email" type="email" class="form-control" data-ng-model="account.email"/>
        </div>
      </div>

      <div class="form-group">
        <label for="cellphone" class="col-sm-3 control-label" data-translate>Cell Phone</label>
        <div class="col-sm-7">
          <input id="cellphone" type="tel" class="form-control" data-ng-model="account.cellPhone"/>
        </div>
      </div>
      
      <div class="form-group">
        <label for="dateOfBirth" class="col-sm-3 control-label" data-translate>Date of Birth</label>
        <div class="col-sm-2">
          <input id="dateOfBirth" type="text" class="form-control"
                 data-datepicker-popup="shortDate" data-ng-model="account.dateOfBirth"
                 data-show-button-bar="false"/>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
          <button type="submit" class="btn btn-primary"
                  data-ng-click="saveAccount()" data-ng-disabled="!accountForm.$valid"
                  data-translate>Save</button>
          <button class="btn btn-default" data-ui-sref="account" data-translate>Cancel</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-3">
    <div class="row">
      <div class="thumbnail">
        <img data-ng-src="{{ account.images.AVATAR.uri }}" alt="{{ 'Avatar Image for' | translate}} {{ account.username }}"/>
        <div class="caption">
          <h3 data-translate>Avatar</h3>
          <p data-translate>Your Avatar appears next to your Game Feed posts and other items throughout the site.</p>
          <button class="btn btn-default center-block" data-translate>Edit Image</button>
        </div>
      </div>
    </div>
  </div>
</section>