<form name="forgotPasswordForm" class="form-horizontal" role="form" novalidate
      data-form-feedback="notifications" data-ng-submit="submitForgotPassword()">

  <div class="modal-body">

    <p class="alert alert-info" data-translate>
      Forgot your password huh?  We can help you.
    </p>

    <p data-ng-show="errors.unknownError" class="alert alert-danger" data-translate>
      Something went wrong with login, please try again later.
    </p>

    <div class="form-group">
      <label for="loginEmail" class="col-sm-2 control-label" data-translate>E-mail</label>
      <div class="col-sm-10" data-input-feedback="forgotPasswordForm.email">
        <input id="loginEmail" name="login" type="email" class="form-control" data-ng-model="user.email" placeholder="Email" required autofocus/>
        <p class="help-block">
          <a href="" data-ng-click="showForgotPassword(false)" data-translate>Oh, wait, I remember!</a>
        </p>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <a href="" class="pull-left" data-ng-click="goToRegister()" data-translate>I need to register</a>
    <button class="btn btn-primary" ng-disabled="!forgotPasswordForm.$valid" data-translate>Submit</button>
    <button class="btn btn-default" data-ng-click="cancel()" data-translate>Cancel</button>
  </div>
</form>