<div class="modal-header">
  <i class="glyphicon glyphicon-remove pull-right" ng-click="cancel()"></i>
  <h3 data-translate>Login</h3>
</div>

<form name="loginForm" class="form-horizontal" role="form" novalidate>
  <div class="modal-body">
    <p class="alert alert-info" data-translate>
      Login below with your Subrosa account or <a href="" data-ng-click="cancel()">create an account</a>.
    </p>

    <div class="form-group">
      <label for="loginEmail" class="col-sm-2 control-label" data-translate>E-mail</label>
      <div class="col-sm-10">
        <input id="loginEmail" name="login" type="email" class="form-control" data-ng-model="user.email" placeholder="Email" required autofocus/>
      </div>
    </div>

    <div class="form-group">
      <label for="loginPassword" class="col-sm-2 control-label" data-translate>Password</label>
      <div class="col-sm-10">
        <input id="loginPassword" name="pass" type="password" class="form-control" data-ng-model="user.password" placeholder="Password" required/>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="ok()" ng-disabled="!loginForm.$valid" data-translate>Login</button>
    <button class="btn btn-default" data-ng-click="cancel()" data-translate>Cancel</button>
  </div>
</form>