<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="jumbotron">
      <h1 data-translate>We Play AFK</h1>
      <p data-translate>It’s a big, beautiful world out there, Subrosa takes the fun outside.  Create an account and join thousands of other real life gamers.</p>
    </div>
  </div>
  <div class="col-md-5">
    <h3>
      <span data-translate>Join the Fun</span>
      <i class="glyphicon glyphicon-lock"></i>
    </h3>

    <form name="registerForm" class="form-horizontal" role="form" novalidate>
      <p class="alert alert-info" data-translate>
        Do you have what it takes?  Let's find out.
      </p>

      <div data-form-feedback="notifications"></div>

      <div class="form-group">
        <label for="registerEmail" class="col-sm-2 control-label" data-translate>E-mail</label>
        <div class="col-sm-10">
          <input id="registerEmail" name="login" type="email" class="form-control"
                 data-ng-model="user.email" placeholder="{{ 'Email' | translate }}" required autofocus/>
          <p class="help-block" data-translate>No spam.  You will only receive emails that you actually opt-in to rather than the other way around.</p>
        </div>
      </div>

      <div class="form-group">
        <label for="registerPassword" class="col-sm-2 control-label" data-translate>Password</label>
        <div class="col-sm-10">
          <input id="registerPassword" name="pass" type="password" class="form-control"
                 data-ng-model="user.password" data-password-validator placeholder="{{ 'Password' | translate }}" required/>
          <p class="help-block" data-translate>Tip: use at least one number and at least seven characters.</p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label for="registerTerms">
              <input id="registerTerms" type="checkbox" data-ng-model="user.acceptedTerms" required/>
                I agree to the <a data-ui-sref="terms">terms and conditions</a>.
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary"
                  data-ng-click="register()" data-ng-disabled="!registerForm.$valid"
                  data-translate>Register</button>
        </div>
      </div>
      <a href="" class="pull-right" data-ng-click="goToLogin()" data-translate>I already have an account</a>
    </form>
  </div>
</div>