<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="jumbotron">
      <h1 data-i18n>We Play AFK</h1>
      <p data-i18n>It’s a big, beautiful world out there, Subrosa takes the fun outside.  Create an account and join thousands of other real life gamers.</p>
    </div>
  </div>

  <div class="col-md-5">
    <h3>
      <span data-i18n>Join the Fun</span>
      <i class="fa fa-lock"></i>
    </h3>

    <div class="col-md-12" data-ng-include="'/app/account/views/register-form.html'"></div>
  </div>
</div>
