<div data-flow-init="{target: API_CONFIG.URL + '/user/image', singleFile: true, testChunks: false}">
  <div data-flow-drag-enter="dropClass='drag-over'" data-flow-drag-leave="dropClass=''"
       data-flow-files-submitted="$flow.upload()"
       data-flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
       data-flow-complete="fileSuccess($flow)">

    <div data-ng-repeat="file in $flow.files">
      <div class="thumbnail" data-ng-show="$flow.files.length">
        <img alt="Thumbnail for {{ file.name }}" data-i18n-attrs="alt" data-ng-show="file.isComplete()"
             data-flow-img="file"/>

        <div class="divider"></div>
        <button type="button" class="btn btn-danger btn-sm center-block" aria-hidden="true"
                data-ng-show="file.isComplete()" data-ng-click="file.cancel()">
          <span data-i18n>Remove</span>
        </button>
      </div>
      <div class="progress" data-ng-hide="file.isComplete()" data-ng-class="{active: file.isUploading()}">
        <div class="progress-bar" role="progressbar"
             aria-valuenow="{{ file.progress() * 100 }}" aria-valuemin="0" aria-valuemax="100"
             data-ng-style="{width: (file.progress() * 100) + '%'}">
          <span class="sr-only" data-i18n>{{ file.progress() * 100 }}% Complete</span>
        </div>
      </div>
    </div>

    <div class="drop text-center" data-ng-class="dropClass" data-flow-drop data-ng-show="!$flow.files.length">
      <div data-ng-show="!$flow.files.length">
        <p data-i18n>Drag your image here</p>
        <p data-i18n>- or -</p>
        <button class="btn btn-default" type="button" data-flow-btn>
          <span data-i18n>Upload</span>
        </button>
      </div>
    </div>
  </div>

  <div data-ng-transclude></div>
</div>
