<form name="forgotPasswordForm" class="form-horizontal" role="form" novalidate
      data-form-feedback="forgotPasswordForm" data-form-notifications="notifications"
      data-ng-submit="submitForgotPassword()">

  <div class="modal-body">

    <p class="alert alert-info" data-i18n>
      Forgot your password huh?  We can help you.
    </p>

    <p data-ng-show="errors.unknownError" class="alert alert-danger" data-i18n>
      Something went wrong with login, please try again later.
    </p>

    <div class="form-group">
      <label for="loginEmail" class="col-sm-2 control-label" data-i18n>E-mail</label>
      <div class="col-sm-10" data-form-group-feedback>
        <input id="loginEmail" name="login" type="email" class="form-control" data-ng-model="user.email" placeholder="Email" required autofocus/>
        <p class="help-block">
          <a href="" data-ng-click="showForgotPassword(false)" data-i18n>Oh, wait, I remember!</a>
        </p>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <a href="" class="pull-left" data-ng-click="goToRegister()" data-i18n>I need to register</a>
    <button class="btn btn-primary" ng-disabled="!forgotPasswordForm.$valid" data-i18n>Submit</button>
    <button class="btn btn-default" data-ng-click="cancel()" data-i18n>Cancel</button>
  </div>
</form>
