<section id="gameSummary">
    <h3>{{game.name}}</h3>
    <h4>{{game.description}}</h4>
    <div data-ng-show="game.startTime && game.endTime">
        <span class="information-label" data-i18n="gameSummary.duration">Duration</span>
        <span class="information-value">{{game.startTime | date:'medium'}} - {{game.endTime | date:'medium'}}</span>
    </div>
    <div data-ng-show="game.ordnance">
        <span class="information-label" data-i18n="gameSummary.ordnance">Ordnance</span>
        <span class="information-value">{{game.ordnance}}</span>
    </div>
    <div data-ng-show="game.gameType">
        <span class="information-label" data-i18n="gameSummary.gameType">Game Type</span>
        <span class="information-value">{{game.gameType}}</span>
    </div>
    <div data-ng-show="game.assignmentType">
        <span class="information-label" data-i18n="gameSummary.assignmentType">Assignment Type</span>
        <span class="information-value">{{game.assignmentType}}</span>
    </div>
</section>