.media-object {
    width: 84px;
}

.angular-leaflet-map {
    height: 800px;
}

.preregistration {
    color: #FFD700;
}

.registration {
    color: #008000;
}

.game-header h1 {
    margin-top: 0;
}
