.drop {
    border-color: #868686;
    border-radius: 5px;
    border-style: dashed;
    border-width: 2px;
    height: 200px;
    margin: 10px;
}

/* Ensure FlowJS hidden file input does not have width */
.drop input[type="file"] {
    width: 0;
}

/* A ghost element, nudged to maintain perfect centering */
.drop:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.drop > div {
    display: inline-block;
    vertical-align: middle;
}

.drag-over {
    background-color: #d1d1d1;
}

.avatar-container {
    margin: 0 auto;
    position: relative;
}

.avatar-lg {
    width: 150px;
}

.avatar-md {
    width: 100px;
}

.avatar-sm {
    width: 50px;
}

.avatar-xs {
    height: 22px;
    width: 22px;
}

.avatar-overlay {
    background-color: #4E90FE;
    background-color: rgba(78,144,254,.7);
    bottom: 0;
    color: #ffffff;
    padding: 7px 0;
    position: absolute;
    text-align: center;
}

.thumbnail button {
    margin-top: 5px;
    margin-bottom: 5px;
}
