.timeline-frame .readonly {
    background-color: #eeeeee;
    border-color: #000000;
}

.timeline-frame .timeline-event-content {
    white-space: normal;
}

.timeline-selectable .timeline-event.readonly,
.timeline-selectable .timeline-event.readonly .timeline-event-content {
    cursor: default;
}