<ul>
  <li data-ng-hide="isAuthenticated()">
    <a data-ng-click="openModal()" data-translate>Sign in</a>
    <div data-modal="/app/account/views/login-form.html" data-modal-action="login()"></div>
  </li>

  <li class="dropdown" data-ng-show="isAuthenticated()">
    <a class="dropdown-toggle">Account</a>
    <ul class="dropdown-menu">
      <li>
        <a ui-sref="account" data-translate>Profile</a>
      </li>
      <li>
        <a data-ng-click="logout()" data-translate>Log out</a>
      </li>
    </ul>
  </li>
</ul>