<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <div>
          <img data-ng-src="{{ game.image }}" data-ng-show="game.image"
               alt="Game Badge for {{ game.name }}" data-i18n-attrs="alt"/>
          <i class="avatar-lg fa fa-puzzle-piece pull-left" data-ng-hide="game.image"></i>
        </div>

        <h1>Editing {{ game.name }}</h1>

        <button type="button" class="btn btn-default"
                data-ng-click="go('game')"
                data-ng-disabled="saving">
          <span data-i18n>Back to Display Mode</span>
        </button>
      </div>
    </div>
  </div>
</div>
