<h3 data-i18n>Time Dependent Events</h3>

<p data-i18n>
    These events will happen at the chosen times below.  Use the timeline to modify or create new events.
</p>

<div class="col-xs-12 col-md-4  ">
  <h4 data-i18n>Create New Event</h4>
  <form name="saveEventForm" role="form" class="" novalidate
        data-form-feedback="savEventForm" data-form-notifications="saveEventNotifications">

    <div class="form-group">
      <label for="event" data-i18n>Type</label>
      <select id="event" class="form-control" required
              data-ng-change="addEvent(event)" data-ng-model="event.event"
              data-ng-options="eventType.id as eventType.name for eventType in eventTypes">
      </select>
    </div>

    <div class="form-group" data-input-feedback="savEventForm.date">
      <label for="date" data-i18n>Date</label>
      <input id="date" name="date" type="text" class="form-control" required
             data-ng-model="event.date"
             data-datepicker-popup="{{ dateFormat }}"
             data-show-button-bar="false"/>
    </div>

    <div class="form-group">
      <label for="startTime" class="" data-i18n>Start Time</label>
      <div data-ng-model="event.start">
        <input id="startTime" name="startTime" type="time" required
               data-timepicker data-show-meridian="true"/>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" data-ng-click="saveEvent(event)" class="btn btn-primary" data-ng-disabled="!saveEventForm.$valid" data-i18n>Save Event</button>
      <button class="btn btn-default" data-ng-click="removeEvent(event)" data-i18n>Cancel</button>
    </div>
  </form>
</div>

<div >
  <div data-notification-display="eventNotifications"></div>
  <div class="row">
    <div data-game-event-timeline="events"></div>
  </div>
</div>
