<ul role="menu" class="nav nav-pills">
  <li data-ng-class="{active: isState('game.edit')}">
    <a data-ui-sref="game.edit" data-i18n>Game Information</a>
  </li>
  <li data-ng-class="{active: isState('game.edit.rules')}">
    <a data-ui-sref="game.edit" data-i18n>Rules</a>
  </li>
  <li data-ng-class="{active: isState('game.edit.options')}">
    <a data-ui-sref="game.edit.options" data-i18n>Options</a>
  </li>
  <li data-ng-class="{active: isState('game.edit.enrollment')}">
    <a data-ui-sref="game.edit.enrollment" data-i18n>Join Game Form</a>
  </li>
  <li data-ng-class="{active: isState('game.edit.zone')}">
    <a data-ui-sref="game.edit.zone" data-i18n>Game Zone</a>
  </li>
  <li data-ng-class="{active: isState('game.edit.events')}">
    <a data-ui-sref="game.edit.events" data-i18n>Events</a>
  </li>
</ul>
