<form name="gameForm" role="form" class="form-horizontal" novalidate>
  <div data-form-feedback="notifications"></div>

  <div class="col-sm-5">
    <div class="pull-left">
      <div class="thumbnail game-badge">
        <img data-ng-src="{{ game.image.uri }}" alt="{{ 'Game Badge for' | translate }} {{game.name}}"/>
        <div class="caption">
          <button class="btn btn-default center-block" data-translate>Edit Image</button>
        </div>
      </div>
    </div>

    <div class="form-group col-sm-8">
      <label for="name" class="sr-only" data-translate>Game Name</label>
      <input id="name" type="text" class="form-control input-lg"
             placeholder="{{ 'Game Name' | translate }}" data-ng-model="game.name"/>
    </div>

    <div class="form-group col-sm-8">
      <label for="description" class="sr-only" data-translate>Brief Game Description</label>
      <textarea id="description" type="text" class="form-control" rows="5"
             placeholder="{{ 'Brief Game Description' | translate }}" data-ng-model="game.description">
      </textarea>
    </div>
  </div>

  <div class="col-sm-5">
    <div class="form-group">
      <label for="gameStartDate" class="col-sm-2 control-label" data-translate>Start Date</label>
      <div class="col-sm-4">
        <input id="gameStartDate" type="text" class="form-control"
               data-datepicker-popup="{{ dateFormat }}" data-ng-model="game.gameStart"
               data-show-button-bar="false"/>
      </div>

      <label for="gameEndDate" class="col-sm-2 control-label" data-translate>End Date</label>
      <div class="col-sm-4">
        <input id="gameEndDate" type="text" class="form-control"
               data-datepicker-popup="{{ dateFormat }}" data-ng-model="game.gameEnd"
               data-show-button-bar="false"/>
      </div>
    </div>

    <div class="form-group">
      <label for="gameStartTime" class="col-sm-2 control-label" data-translate>Start Time</label>
      <div class="col-sm-4">
        <div data-ng-model="game.gameStart">
          <input id="gameStartTime" type="time" data-timepicker data-show-meridian="true"/>
        </div>
      </div>

      <label for="gameEndTime" class="col-sm-2 control-label" data-translate>End Time</label>
      <div class="col-sm-4">
        <div data-ng-model="game.gameEnd">
          <input id="gameEndTime" type="time" data-timepicker data-show-meridian="true"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="ordnance" class="col-sm-2 control-label" data-translate>Ordnance</label>
      <div class="col-sm-10">
        <input id="ordnance" type="text" class="form-control" data-ng-model="game.ordnance"/>
      </div>
    </div>

    <div class="form-group">
      <label for="gameType" class="col-sm-2 control-label" data-translate>Game Type</label>
      <div class="col-sm-10">
        <input id="gameType" type="text" class="form-control" data-ng-model="game.gameType"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" data-ng-click="saveGame()" class="btn btn-default">Save</button>
      </div>
    </div>
  </div>


  <button class="btn btn-primary"
          data-ng-click="go('game')"
          data-ng-disabled="saving">
    <span data-ng-hide="saving" data-ng-translate>Back to Display Mode</span>
    <span data-ng-show="saving" data-ng-translate>Saving...</span>
  </button>
</form>