<section>
  <h2 data-i18n>Game Zone for {{ game.name }}</h2>
  <p data-i18n>Use the map below to create the zone for your game.
    This zone restricts enrollment in your game to players who reside inside the shapes you create.</p>
  <p class="alert alert-warning" data-ng-show="rejectedGeolocation" data-i18n>
    You have elected not to share your current location, please manually move the map to where your game will take place.
  </p>
  <div data-map="editGameZone"
       data-allow-current-location="true"
       data-on-location-error="onLocationError">
    <div data-map-polygons="gameZones"
         data-draw="true"
         data-on-create="onZoneCreated(event)"
         data-on-delete="onZoneDeleted(event)"
         data-on-edit="onZoneEdited(event)">
    </div>
  </div>
</section>
