<div class="form-group has-feedback"
     data-ng-class="{'has-success': hasSuccess(field),
                     'has-warning': hasWarning(field),
                     'has-error': hasError(field)}"
     data-ng-transclude>

  <span class="fa fa-thumbs-o-up form-control-feedback"
        data-ng-show="hasSuccess(field)"></span>
  <span class="fa fa-warning form-control-feedback"
        data-ng-show="hasWarning(field)"></span>
  <span class="fa fa-thumbs-o-down form-control-feedback"
        data-ng-show="hasError(field)"></span>
</div>