<div data-ng-class="{'has-success': hasSuccess(field),
                     'has-warning': hasWarning(field),
                     'has-error': hasError(field)}">

  <p class="help-block" data-ng-messages="field.$error" data-ng-messages-multiple>
    <span class="has-error" data-ng-message="required" data-i18n>
      You forgot to fill this out.
    </span>

    <span class="has-error" data-ng-message="min" data-i18n>
      This value should be greater than {{ min }}.
    </span>

    <span class="has-error" data-ng-message="max" data-i18n>
      This value should be less than {{ max }}.
    </span>

    <span class="has-error" data-ng-message="number" data-i18n>
      This should be a number.
    </span>

    <span class="has-error" data-ng-message="integer" data-i18n>
      This should be a whole number.
    </span>

    <span class="has-error" data-ng-message="email" data-i18n>
      This should be formatted as 'an@email.com'.
    </span>
  </p>
</div>
