<!doctype html>
<html lang="en" data-ng-app="subrosa">
  <head>
    <meta charset="utf-8"/>
    <meta name="fragment" content="!" />
    <title data-ng-bind="title" data-translate>Subrosa &mdash; Real Life Games</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- build:css /css/styles.css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/game.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/overrides.css">
    <link rel="stylesheet" href="/css/typography.css">
    <!-- endbuild -->
  </head>

  <body data-ng-cloak>
    <!--[if lt IE 9]>
      <script src="/lib/es5-shim/es5-shim.js"></script>
      <script src="/lib/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div class="subrosa-container">
      <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <a data-ui-sref="home" class="navbar-brand">
              <img class="img-responsive" src="/img/logo/subrosa-horizontal-93x25.png"
                   alt="Subrosa {{ 'Logo' | translate }}" />
            </a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li data-ng-class="{active: isState('games')}">
              <a data-ui-sref="games" data-translate>Find Games</a>
            </li>

            <li data-ng-if="!isAuthenticated()">
              <a href="" data-ng-click="openModal()" data-translate>Login</a>
              <dialog login-modal></dialog>
            </li>

            <li class="dropdown" data-ng-if="isAuthenticated()">
              <a href="" class="dropdown-toggle" data-translate>Account<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a data-ui-sref="account" data-translate>Profile</a>
                </li>
                <li>
                  <a href="" data-ng-click="logout()" data-translate>Log out</a>
                </li>
              </ul>
            </li>
          </ul>

        </nav>
      </header>

      <div data-ui-view="menu"></div>
      <div data-ui-view></div>

      <footer>
        <p data-translate>
          <a href="/about/copyright">Copyright</a> &copy;2007-2014 Sub Rosa Games, Inc. All Rights Reserved.
        </p>
      </footer>
    </div>

    <!-- build:js /js/scripts.js -->
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/lib/angular-gettext/dist/angular-gettext.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/lib/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/lib/angularjs-geolocation/src/geolocation.js"></script>

    <script type="text/javascript" src="/app/subrosa.module.js"></script>

    <script type="text/javascript" src="/app/account/account.module.js"></script>
    <script type="text/javascript" src="/app/account/Account.factory.js"></script>
    <script type="text/javascript" src="/app/account/Account.controller.js"></script>
    <script type="text/javascript" src="/app/account/loginModal.directive.js"></script>
    <script type="text/javascript" src="/app/account/RegisterForm.controller.js"></script>

    <script type="text/javascript" src="/app/components/components.module.js"></script>
    <script type="text/javascript" src="/app/components/formFeedback.directive.js"></script>

    <script type="text/javascript" src="/app/game/game.module.js"></script>
    <script type="text/javascript" src="/app/game/GameList.controller.js"></script>
    <script type="text/javascript" src="/app/game/Game.factory.js"></script>
    <script type="text/javascript" src="/app/game/Game.controller.js"></script>
    <script type="text/javascript" src="/app/game/GameFeed.controller.js"></script>
    <script type="text/javascript" src="/app/game/GameRules.controller.js"></script>
    <script type="text/javascript" src="/app/game/GameStats.controller.js"></script>
    <script type="text/javascript" src="/app/game/Post.factory.js"></script>
    <script type="text/javascript" src="/app/game/edit/EditGame.controller.js"></script>

    <script type="text/javascript" src="/app/security/security.module.js"></script>
    <script type="text/javascript" src="/app/security/AuthInterceptor.factory.js"></script>
    <script type="text/javascript" src="/app/security/AuthService.factory.js"></script>
    <script type="text/javascript" src="/app/security/AuthRetryQueue.factory.js"></script>
    <script type="text/javascript" src="/app/security/Session.factory.js"></script>

    <script type="text/javascript" src="/app/util/util.module.js"></script>
    <script type="text/javascript" src="/app/util/ErrorInterceptor.factory.js"></script>
    <script type="text/javascript" src="/app/util/ErrorDictionary.service.js"></script>

    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function (d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
