<h2 data-i18n>Join {{ game.name }}</h2>

<form class="join-game-form" name="joinGameForm" role="form" novalidate
    data-form-feedback="joinGameForm"
    data-form-notifications="joinGameNotifications"
    data-ng-submit="joinGame(joinGameForm)">

  <div class="form-group">
    <label class="control-label" data-i18n>Player</label>

    <div class="row">
      <div class="col-md-12">
        <a href="#" class="thumbnail col-md-3" title="Click to change player" data-i18n-attrs="title"
           data-ui-sref="game.enroll.select-player">
          <div href="#" class="text-center" data-avatar="player" data-size="md" data-show-username="true"></div>
        </a>
      </div>
    </div>
  </div>

  <div data-ng-repeat="info in game.playerInfo">
    <div data-form-group="info" data-model="player"></div>
  </div>

  <button type="submit" class="btn btn-default btn-primary"
          data-ng-disabled="joinGameForm.$invalid || joining">
    <span data-ng-hide="joining" data-i18n>Join Game</span>
    <span data-ng-show="joining" data-i18n>Joining</span>
  </button>
</form>
